<!DOCTYPE html>
<!-- questionnaire.html -->
<!-- This page is provided to users who sign up for the first time! -->
<html>
  <head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='favicon.ico') }}" />
    <meta charset="UTF-8">
    <title>Personalize!</title>
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static',filename='styles/questionnaire.css') }}" />
  </head>
  <body>
  <IMG STYLE="position:absolute; TOP:0px; LEFT: 0px;" SRC="newlogo.png">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="well login-box text-center">
                  <form action="">
                      <legend>Let's Personalize Your Experience</legend>
                      <div class="form-group text-center">
                           <h4> Preferred Job Title: </h4>
                            <input list="jobs" name="jobs">
                            <datalist id="jobs">
                              <option value="Application Developer">
                              <option value="Application Support Analyst">
                              <option value="Computer Systems Manager">
                              <option value="Database Administrator">
                              <option value="Developer">
                              <option value="Front End Developer">
                              <option value="IT">
                              <option value="IT Support Manager">
                              <option value="Java Developer">
                              <option value="Network Engineer">
                              <option value="Software Developer">
                              <option value="Software Engineer">
                              <option value="Systems Administrator">
                              <option value="Systems Analyst">
                              <option value="System Architect">
                              <option value="Technical Support Engineer">
                              <option value="Web Developer">
                              <option value="Webmaster">
                            </datalist>
                      </div>
                      <div class="form-group text-center">
                          <h4> Preferred Location: </h4>
                          <input list="location" name="location">
                          <datalist id="location">
                            <option value="San Francisco, CA">
                            <option value="San Diego, CA">
                            <option value="Los Angeles, CA">
                            <option value="Seattle, WA">
                            <option value="Denver, CO">
                            <option value="Austin, TX">
                            <option value="New York City, NY">
                            <option value="Orlando, FL">
                          </datalist><p><p><p>
                          <button type="button" class="button button-block"></span>Submit</button><br/></h2>
                      </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
    </div>
  </body>
</html>
</body>
</html>
